html {
  touch-action: manipulation;
}

body {
  margin: 0;
  background-color: #CCCCCC;
  user-select: none;
}

body.noscroll {
  height: 100%;
  overflow: hidden;
}

/* Override p5.js sizing to fit viewport. */
#animation {
 width: calc(100% - 8px) !important;
 height: auto !important;
 cursor: crosshair;
 background: url(checkers.png);
 image-rendering: pixelated;
}

#timeline {
  margin-left: 4px;
  max-width: 512px;
  width: calc(100% - 8px) !important;
  height: auto !important;
}

input, button {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#color-selector {
  width: 100%;
  height: 100%;
  background-color: black;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
}

#colors {
  font-size: 0;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

#colors button {
  width: 12.5%;
  padding: 12.5% 0 0 0;
  border: 0;
  /*outline: 0;*/
  cursor: pointer;
}

#colors button:active {
  filter: invert(1);
}

#color-selector.active {
  display: block;
}

#background-color-selector.active {
  display: block;
}

#ui {
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  user-select: none;
}

#animation {
  border: 4px inset;
}

#column {
  max-width: 400px;
  /*background-color: pink;*/
}

#macro-ui {
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

#etc {
  font-family: monospace;
  font-size: 12px;
  color: #666666;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 520px;
  margin: auto;
}

footer {
  padding: 10px;
}

#etc a, #etc a:visited {
  color: #666666;
}

.current-resolution {
  color: #111 !important;
}

#fine-print, #fine-print a, #fine-print a:visited {
  /*color: #AAA;*/
}

hr {
  margin-top: 10px;
  margin-bottom: 0px;
  width: 100%;
  border-left: none;
  border-right: none;
}

#sketch-container {
  position: relative;
  max-width: 520px;
  max-height: 662px;
  display: flex;
  flex-direction: column;
}

#buttons {
  height: 50px;
  width: 100%;
  padding-top: 4px;
  margin: 2px auto 0 auto;
  display: flex;
}

#playback-buttons {
  margin-left: 4px;
}

#playback-buttons input {
  cursor: pointer;
}

#select-buttons {
  margin-left: auto;
  height: 50px;
  display: flex;
  margin-right: 4px;
}

#select-buttons input {
  margin: auto;
  border-radius: 4px;
  padding: 0 6px;
  height: 32px;
  margin-left: 4px;
  cursor: pointer;
}

.colorButton {
  width: 30px;
  height: 30px;
  color: white;
  padding: 2px 2px 2px 2px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  cursor: pointer;
}

.play {
  width: 50px;
  height: 50px;
  color: #FFFFFF;
  background-color: #333333;
  padding: 4px 2px 2px 2px;
  display: inline-block;
  border-radius: 50%;
  border: none;
  vertical-align: middle;
  font-size: 2em;
}

.play[value="▶︎"] {
  padding-left: 6px;
  padding-top: 1px;
}

.back-next {
  width: 32px;
  height: 32px;
  color: #FFFFFF;
  background-color: #333333;
  padding: 3px 2px 2px 2px;
  display: inline-block;
  border-radius: 25%;
  border: none;
  font-size: 1.25em;
  vertical-align: middle;
}

#buttons input {
  outline: 0;
}

#buttons input:active {
  background-color: #555;
}

#keyboard-shortcuts {
  padding: 0;
  list-style-type: none;
}

#keyboard-shortcuts li {
  line-height: 1.75em;
  display: inline-block;
  padding-bottom: 0.5em;
}

.keyboard-shortcut {
  min-width: 1em;
  height: 1.5em;
  display: inline-block;
  font-family: Arial, sans-serif;
  background-color: #eee;
  border: 0.25em outset #c3c3c3;
  padding: 0 0.2em;
  vertical-align: middle;
  text-align: center;
  color: grey;
}

.mirror {
  display: inline-block;
  transform: scaleX(-1);
}

.select-range {
  height: 35px;
  color: #FFFFFF;
  background-color: #333333;
  padding: 2px 2px 2px 2px;
  display: inline-block;
  border: none;
}

select option {
  font-family: monospace;
}

.sm-title {
  font-weight: normal;
  font-size: 1.3em;
  margin: 0;
  padding-left: 0;
  display: inline-block;
}

.sketch-title {
  font-family: Arial, sans-serif;
}

.machine-title {
  font-family: monospace;
  font-size: 1.25em;
}

#controls {
  margin-top: 1em;
  font-family: Arial, sans-serif;
  color: #333;
}

#controls h2 {
  font-size: 1em;
  font-weight: normal;
  color: #777;
  margin: 0 0 6px 0;
}

.brush, .setting {
  background-color: #BBB;
  display: inline-block;
  border-radius: 4px;
  padding: 4px 8px 4px 4px;
  margin-bottom: 5px;
  height: 30px;
  border: 1px inset;
}

.setting {
  padding-left: 8px;
}

.setting input {
  vertical-align: middle;
  height: 30px;
  margin: 0;
  outline: 0;
}

select {
  outline: 0;
}

input[type=range] {
  margin-right: 8px;
}

.setting-label {
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
}

.brush input, .brush select {
  margin: 0;
  height: 30px;
  vertical-align: top;
}

.brush input[type="checkbox"] {
  width: 20px;
  margin-left: 3px;
}

#engorge-check, #onion-check, #background-check {
  width: 20px;
  height: 30px;
  margin: 0 0 0 -1px;
  vertical-align: middle;
}

#engorge-label, #onion-label {
  vertical-align: middle;
  margin-right: 4px;
  cursor: pointer;
}

#background-label {
  cursor: pointer;
}

#tools {
 margin-bottom: 1em;
}

#tool-modifiers {
  margin-bottom: 1em;
}

#options {
  margin-bottom: 1em;
}

#playback-options label {
  padding: 3px 4px 0px 4px;
  color: #666;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25em;
  height: 27px;
  vertical-align: middle;
  background: #999;
  border-radius: 4px;
}

#playback-options {
    padding-right: 6px;
}

#playback-options input[type="radio"] {
  display: none;
}

#playback-options input[type="radio"]:checked+label {
  color: #222;
  background: #eee;
}

#export-options {
  background-color: #BBB;
  padding: 8px;
  display: inline-block;
  border-radius: 4px;
  border: 1px inset;
}

#export-overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  visibility: hidden;
  display: flex;
}

#export-overlay.active, #exported-gif-img.active {
  visibility: visible;
}


#exported-gif {
  margin: auto;
}

#exported-gif-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  margin-top: -16px;
  margin-left: -16px;
  background: white;
  border-radius: 100%;
  animation: spinner 1s infinite;
  pointer-events: none;
}

#exported-gif-spinner.hidden {
  display: none;
}

@keyframes spinner {
  0% {
      transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

#exported-gif-img {
  margin: 8px;
  max-width: calc(100% - 24px);
  width: 512px;
  border: 4px outset;
  visibility: hidden;
  cursor: context-menu;
  image-rendering: pixelated;
  background: url(checkers.png);
}

#export-button {
  display: block;
  width: 77px;
  height: 77px;
  font-size: 1.5em;
  font-weight: bold;
  background-color: #dcdcdc;
  outline: none;
  color: #555;
  cursor: pointer;
  border: 0;
}

#export-button:active, #export-button.active {
  background-color: #aaa;
  color: #888;
}

#speed-slider {
}

#next {
  visibility: hidden;
}

#back {
  visibility: hidden;
}

#giphy-logo {
  width: 100px;
  filter: grayscale(1);
  transition: 0.25s filter;
}

#giphy-logo:hover, #giphy-logo:active {
  filter: none;
}

@media all and (min-width: 940px) {
  body {
  }

  #ui {
    flex-direction: row;
  }

  #etc {
    flex-direction: column;
    padding: 10px;
    margin-left: 0;
  }

  #controls {
    padding-top: 8px;
    padding-left: 16px;
    margin-top: 0;
  }

  h1 {
    padding-left: 10px;
  }
}

.dev * {
  background-color: rgba(0, 0, 255, 0.1);
}